<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="mt-3 mb-4 fas fa-history"> 注文履歴一覧</h2>
			<table class="table table-bordered bg-white">
				<thead class="thead-light">
					<tr>
						<th>注文日</th>
						<th>配送先</th>
						<th>注文商品</th>
						<th>支払金額</th>
						<th>ステータス</th>
						<th>注文詳細</th>
					</tr>
				</thead>
				<tbody>
					<% @order.each do |order| %>
						<tr>
							<td><%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
							<td><%= order.postal_code %><br><%= order.address %><br><%= order.name %></td>
							<td>
								<% @order_items.each do |order_item| %>
									<% if order_item.order_id == order.id %>
										<% shop_item_name = "" %>
										<% @shop_items.each do |shop_item| %>
											<% if shop_item.id == order_item.shop_item_id %>
												<% shop_item_name = "#{shop_item.name}" %>
												<% break %>
											<% else %>
												<% shop_item_name = "No" %>
											<% end %>
										<% end %>
										<%= shop_item_name %><br>
									<% end %>
								<% end %>
		                	</td>
							<td>
							<% order_item_total_price = 0 %>
							<% @order_items.each do |order_item| %>
								<% if order_item.order_id == order.id %>
							        <% order_item_price_with_tax = (order_item.price * 1.1).floor %>
							        <% order_item_price = order_item_price_with_tax * order_item.quantity %>
							        <% order_item_total_price = order_item_total_price + order_item_price %>
								<% end %>
							<% end %>
								<%= order_item_total_price + order.shipping_fee %>円</td>
							<td><%= order.order_status %></td>
							<td><%= link_to "表示する", members_order_path(order.id) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
    </div>
    <div class="row justify-content-center mt-3">
        <%= paginate @order, class: "pagination"  %>
    </div>
</div>




