<div class="container">
    <div class="row">
        <%= render partial: "/layouts/error_messages", locals: { model: @order } %>
        <div class="col-xs-12">
            <h3>購入情報入力</h3>
            <%= form_for(@order, url: members_order_confirm_path, method: :get) do |order| %>
                <h5>支払方法</h5>
                <%= order.radio_button :payment_method, "クレジットカード" %>クレジットカード
                <%= order.radio_button :payment_method, "銀行振込" %>銀行振込

                <h5>お届け先</h5>
                    <%= order.radio_button :member_id, 111 %>ご自身の住所<br>
                    〒<%= current_member.postal_code %><%= current_member.address %><br><%= current_member.last_name %><%= current_member.first_name %>
                    <br>
                    <%= order.radio_button :member_id, 222 %>登録済住所から選択する<br>
                        <% @registered_addresses = @my_shipping_addresses.map.with_index(1) { |my_shipping_address, idx| "#{idx}：〒#{my_shipping_address.postal_code} #{my_shipping_address.address} #{my_shipping_address.name}" } %>
                        <%= order.select :shipping_fee, @registered_addresses %>
                    <br>
                    <%= order.radio_button :member_id, 333 %>新しいお届け先<br>
                            郵便番号　<%= order.text_field :postal_code %><br>
                            住所 <%= order.text_field :address %><br>
                            宛名 <%= order.text_field :name %>
                <button type="submit" class="btn btn-primary btn-block">確認画面に進む</button>
            <% end %>
        </div>
    </div>
</div>
