<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-3 mb-4 fas fa-user"> 会員一覧画面</h2>
      <table class="table table-hover bg-white">
        <thead>
          <tr>
            <th bgcolor="#d3d3d3">会員id</th>
            <th bgcolor="#d3d3d3">氏名</th>
            <th bgcolor="#d3d3d3">メールアドレス</th>
            <th bgcolor="#d3d3d3">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.id %></td>
              <td><%= link_to "#{member.last_name}" + "#{member.first_name}", admins_member_path(member.id), :style=>"color:black;text-decoration: underline;"  %>
              </td>
              <td><%= member.email %></td>
              <td>
                <% if member.deleted_at.present? %>
                  <div class="btn btn-secondary btn-sm active"><%= "無効会員" %></div>
                <% else %>
                  <div class="btn btn-success btn-sm active"><%= "有効会員" %></div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center mt-3">
        <%= paginate @members, class: "pagination"  %>
      </div>
    </div>
  </div>
</div>