<div class="container">
	<div class="row">
		<div class="col-6">
			<h3>配送先登録・一覧</h3>
            <%= form_for(@shipping_address, url: members_shipping_address_path) do |shipping_address| %>
            <div class="field row mb-3">
                <%= shipping_address.label :postal_code, "郵便番号", class: "col-4" %>
                <%= shipping_address.text_field :postal_code, class: "col-8" %>
            </div>
            <div class="field row mb-3">
                <%= shipping_address.label :address, "住所", class: "col-4" %>
                <%= shipping_address.text_area :address, class: "col-8" %>
            </div>
            <div class="field row mb-3">
                <%= shipping_address.label :name, "宛名", class: "col-4" %>
                <%= shipping_address.text_field :name, class: "col-8" %>
            </div>
        </div>
        <div class="col-6">
            <div class="col-4">
                <div class="action col offset-2 mt-3">
                    <button type="submit" class="btn btn-primary btn-block">編集する</button>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
