<div class="container">
	<div class="row">
		<div class="col-6">
        <%= render partial: "/layouts/error_messages", locals: { model: @shipping_address } %>
			<h2 class="mt-3 mb-3 fas fa-truck"> 配送先登録・一覧</h2>
            <%= form_for(@shipping_address, url: members_shipping_address_path) do |shipping_address| %>
            <div class="field row mb-3">
                <%= shipping_address.label :postal_code, "郵便番号", class: "col-4" %>
                <%= shipping_address.text_field :postal_code, class: "col-8" %>
            </div>
            <div class="field row mb-3">
                <%= shipping_address.label :address, "住所", class: "col-4" %>
                <%= shipping_address.text_area :address, class: "col-8" %>
            </div>
            <div class="field row mb-3">
                <%= shipping_address.label :name, "宛名", class: "col-4" %>
                <%= shipping_address.text_field :name, class: "col-8" %>
            </div>
            <div class="field row mb-3">
                <%= shipping_address.submit "編集する", class: "col-4 offset-8 btn btn-primary btn-block" %>
            </div>
            <% end %>
        </div>
    </div>
</div>
