<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>配送先登録・一覧</h3>
			<%= form_for(@shipping_address, url: members_shipping_addresses_path) do |shipping_address| %>
			    <h5>郵便番号</h5>
                <%= shipping_address.text_field :postal_code %>
                <h5>住所</h5>
                <%= shipping_address.text_area :address %>
                <h5>宛名</h5>
                <%= shipping_address.text_field :name %>
                <br>
                <button type="submit" class="btn btn-primary btn-block">登録する</button>
			<% end %>
			<table class="table">
				<tr>
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th></th>
					<th></th>
				</tr>
				<% @shipping_addresses.each do |shipping_addresses| %>
					<tr>
						<td><%= shipping_addresses.postal_code %></td>
						<td><%= shipping_addresses.address %></td>
						<td><%= shipping_addresses.name %></td>
						<td><%= link_to edit_members_shipping_address_path(shipping_addresses) do %>
				 				<button type="button" class="btn btn-default btn-block">編集する</button>
							<% end %>
						</td>
						<td><%= link_to members_shipping_address_path(shipping_addresses), method: :delete do %>
				 				<button type="button" class="btn btn-default btn-block">削除する</button>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
    </div>
</div>