<div class="container">
	<h2 class="fas fa-truck mt-3 mb-3"> 配送先登録・一覧</h2>
	<div class="row">
        <%= render partial: "/layouts/error_messages", locals: { model: @shipping_address } %>
		<%= form_for(@shipping_address, url: members_shipping_addresses_path) do |shipping_address| %>
			<div class="field row mb-3">
	  			<%= shipping_address.label :postal_code, "郵便番号", class: "col-4" %>
	            <%= shipping_address.text_field :postal_code, class: "col-8" %>
	    	</div>
	    	<div class="field row mb-3">
	  			<%= shipping_address.label :address, "住所", class: "col-4" %>
	            <%= shipping_address.text_area :address, class: "col-8" %>
	    	</div>
	    	<div class="field row mb-3">
	  			<%= shipping_address.label :name, "宛名", class: "col-4" %>
	            <%= shipping_address.text_field :name, class: "col-8" %>
	    	</div>
	    	<div class="mx-auto" style="width: 100px;">
	    		<button type="submit" class="btn btn-primary btn-block">登録する</button>
	    	</div>
        <% end %>
	</div>
	<div class="row mt-5">
		<div class="col-8">
			<table class="table table-bordered bg-white">
				<thead class="thead-light">
				<tr>
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<% @my_shipping_addresses.each do |my_shipping_addresses| %>
					<tr>
						<td><%= my_shipping_addresses.postal_code %></td>
						<td><%= my_shipping_addresses.address %></td>
						<td><%= my_shipping_addresses.name %></td>
						<td><%= link_to "編集する", edit_members_shipping_address_path(my_shipping_addresses), class: "btn btn-success btn-block btn-sm" %>
						</td>
						<td><%= link_to "削除する", members_shipping_address_path(my_shipping_addresses), class: "btn btn-danger btn-block btn-sm", method: :delete, "data-confirm" => "削除してもよろしいですか？" %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<div class="row justify-content-center mt-3">
				<%= paginate @my_shipping_addresses, class: "pagination" %>
			</div>
		</div>
    </div>
</div>