<div class="container">

  <div class="row justify-content-start mt-3 mb-3">
    <h2>商品一覧画面</h2>
  </div>

  <div class="row justify-content-end mb-3">
  	<%= link_to "", new_admins_shop_item_path, class: "fas fa-plus-circle fa-3x" %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @shop_items.each do |shop_item| %>
        <tr>
          <td><%= shop_item.id %></td>
          <td><%= link_to shop_item.name, admins_shop_item_path(shop_item.id) %></td>
          <td><%= shop_item.price %></td>
          <td><%= Genre.find(shop_item.genre_id).name %></td>
          <td><%= shop_item.sale_status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>