<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6bb1565f31.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-fixed-top navbar-dark bg-dark">
      <div class="container-fruid">
        <nav class="navbar-brand">
          <span>長野CAKE</span>
        </nav>

        <nav class="navbar-nav">
          <ul class="nav justify-content-end"  style="font-size: 12px;">

                <% if member_signed_in? %>
                  <li class="mx-3"><%= link_to '会員top', members_top_path, class: "nav-link fas fa-store" %></li>
                  <li class="mx-3"><%= link_to 'About', members_about_path, class: "nav-link fas fa-user" %></li>
                  <li class="mx-3"><%= link_to 'カート', members_cart_items_path, class: "nav-link fas fa-shopping-cart" %></li>
                  <li class="mx-3"><%= link_to '会員logout', destroy_member_session_path, class: "nav-link fas fa-sign-out-alt", method: :delete %></li>
                  <li class="mx-3" style="color: yellow;">会員ログイン中</li>

                <% else %>
                  <li class="mx-3"><%= link_to '会員登録', new_member_registration_path, class: "nav-link fas fa-edit" %></li>
                  <li class="mx-3"><%= link_to '会員login', new_member_session_path, class: "nav-link fas fa-sign-in-alt" %></li>
                  <li class="mx-3" style="color: red;">会員ログアウト中</li>
                <% end %>

                <% if admin_signed_in? %>
                  <li class="mx-3"><%= link_to '管理者Top', admins_top_path, class: "nav-link fas fa-home" %></li>
                  <li class="mx-3"><%= link_to '商品一覧', admins_shop_items_path, class: "nav-link fas fa-store" %></li>
                  <li class="mx-3"><%= link_to 'ジャンル一覧', admins_genres_path, class: "nav-link fas fa-star" %></li>
                  <li class="mx-3"><%= link_to '管理者logout', destroy_admin_session_path, class: "nav-link fas fa-sign-out-alt", method: :delete %></li>
                  <li class="mx-3" style="color: yellow;">管理者ログイン中</li>

                <% else %>
                  <li class="mx-3"><%= link_to '管理者登録', new_admin_registration_path, class: "nav-link fas fa-edit" %></li>
                  <li class="mx-3"><%= link_to '管理者登録', admin_session_path, class: "nav-link fas fa-sign-in-alt" %></li>
                  <li class="mx-3" style="color: red;">管理者ログアウト中</li>
                <% end %>

          </ul>
        </nav>
        </div>
      </div>
    </header>

    <% unless notice.nil? %>
      <p id="notice" class="alert alert-success">
        <%= notice %>
      </p>
    <% end %>
    <% unless alert.nil? %>
      <p id="alert" class="alert alert-warning">
        <%= alert %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
