<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6bb1565f31.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container-fruid">
        <nav class="nav navbar-nav">
          <a class="navbar-brand" href="/"><span class="title">ながのCAKE</span></a>
          <ul class="nav">
            <% url_array = request.url.split('/') %>
            <% if url_array[3] == "members" ||  url_array[3].blank? %>
                  <li class="mx-3"><%= link_to 'トップ', members_top_path, class: "nav-link fas fa-store" %></li>
                  <li class="mx-3"><%= link_to 'アバウト', members_about_path, class: "nav-link fas fa-birthday-cake" %></li>

                <% if member_signed_in? %>
                  <li class="mx-3"><%= link_to 'カート', members_cart_items_path, class: "nav-link fas fa-shopping-cart" %></li>
                  <li class="mx-3"><%= link_to "#{current_member.last_name}" + "#{current_member.first_name}", members_member_path(current_member.id), class: "nav-link fas fa-user" %></li>
                  <li class="mx-3"><%= link_to 'ログアウト', destroy_member_session_path, class: "nav-link fas fa-sign-out-alt", method: :delete %></li>

                <% else %>
                  <li class="mx-3"><%= link_to '会員登録', new_member_registration_path, class: "nav-link fas fa-edit" %></li>
                  <li class="mx-3"><%= link_to 'ログイン', new_member_session_path, class: "nav-link fas fa-sign-in-alt" %></li>
                <% end %>

            <% elsif url_array[3] == "admins" %>
                <% if admin_signed_in? %>
                  <li class="mx-3"><%= link_to 'トップ', admins_top_path, class: "nav-link fas fa-home" %></li>
                  <li class="mx-3"><%= link_to '商品一覧', admins_shop_items_path, class: "nav-link fas fa-store" %></li>
                  <li class="mx-3"><%= link_to 'ジャンル一覧', admins_genres_path, class: "nav-link fas fa-star" %></li>
                  <li class="mx-3"><%= link_to '注文履歴一覧', admins_orders_path, class: "nav-link fas fa-history" %></li>
                  <li class="mx-3"><%= link_to '会員一覧', admins_members_path, class: "nav-link fas fa-user" %></li>
                  <li class="mx-3"><%= link_to '管理者ログアウト', destroy_admin_session_path, class: "nav-link fas fa-sign-out-alt", method: :delete %></li>
                  <%= form_tag(admins_members_path, method: :get, class: "form-inline my-2 my-lg-0 ml-auto") do %>
                    <%= text_field_tag :search, '', placeholder: "名前を入力...", class: "form-control mr-sm-2" %>
                    <%= content_tag :button, "会員検索", formaction: admins_members_path, class: "btn btn-outline-success my-2 my-sm-0  " %>
                    <%= content_tag :button, "商品検索", formaction: admins_shop_items_path, class: "btn btn-outline-success my-2 my-sm-0" %>
                  <% end %>
                <% else %>
                  <li class="mx-3"><%= link_to '管理者ログイン', new_admin_session_path, class: "nav-link fas fa-sign-in-alt" %></li>
                  <li class="mx-3 nav-link" style="color: red;">管理者ログイン未済</li>
                <% end %>
            <% else %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div id="main-body">


    <% unless notice.nil? %>
      <p id="notice" class="alert alert-success">
        <%= notice %>
      </p>
    <% end %>
    <% unless alert.nil? %>
      <p id="alert" class="alert alert-warning">
        <%= alert %>
      </p>
    <% end %>

    <div id="main-body">
      <%= yield %>
    </div>

  </body>
</html>
